<!DOCTYPE html>
<html>
<head>
  <title>MetroApartmentSearch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="header-left">
			<h1>Commuter Real Estate</h1>
		</div>
		<div class="header-right">
			<ul>
				<li>Find Apartments</li>
				<li>Find Metro Stop</li>
			</ul>
			<div class="searchbar"></div>
		</div>
	</header>

<%= yield %>

</body>
</html>
